.formatted-output
     display: inline-block
     font-size: 1em
     vertical-align: top
     *
          vertical-align: text-top
     div
          display: flex
          flex-wrap: nowrap
          align-items: center
          >*
               flex-grow: 0
               flex-shrink: 0

.format-division
     font-size: .75em
     flex-direction: column
     >.sign
          line-height: 1em
          display: block
          background-color: #000000
          height: .1em
          width: 100%

.format-exponent
     position: relative
     >.raise
          position: relative
          top: -.75em
          font-size: .5em
          line-height: 1em
          min-height: 1em

.format-addition > .sign
     // Size
     font-size: .75em

.format-subtraction > .sign
     // Shape
     height: .025em
     width: .3em
     // Color
     background-color: #000000

.format-multiplication > .sign
     box-sizing: content-box
     // Shape
     height: .15em
     width: .15em
     border-radius: 50%
     // Color
     background-color: #000
     margin: .1em
