div.fake-input
     font-family: MJXc-TeX-math-I,MJXc-TeX-math-Ix,MJXc-TeX-math-Iw
     display: block
     font-size: 3rem
     text-align: left
     padding: .5rem
     padding-left: 1rem
     border: 0
     margin: 0
     box-sizing: border-box
     vertical-align: text-top
     height: 4rem
     .hide-text
          max-width: 0
          max-height: 0
          border: 0
          padding: 0
          display: inline-block
     #cursor, #spacer
          position: relative
          display: inline-block
          height: 1em
          margin: 0
          padding: 0
          vertical-align: bottom
          width: 2px
          &.active
               background-color: #000

.mjx-chtml.MJXc-display
     padding: 0
     margin: 0
     text-align: left
     display: inline-block
