@import "Variables"

html, body
     min-width: 12em
     margin: 0
     background-color: #fff
     font-family: Helvetica
     ::-webkit-scrollbar
          display: none

.big-body
     overflow-y: hidden
     overflow-x: hidden
     position: absolute
     width: 100%
     top: $height
     display: flex
     height: calc(100% - #{$height})
     color: white
     &::-webkit-scrollbar
          display: initial
          background-color: #0000
          position: fixed
          right: 0
          width: .75em
     &::-webkit-scrollbar-thumb
          background-color: lighten($background , 20%)
     &::-webkit-scrollbar-track
          background-color: #0000
     &::-webkit-scrollbar-track-piece
          background-color: #0000

.vertical-center 
     margin: 0
     position: absolute
     top: 50%
     transform: translate(-50%,-50%)

.text-center
     text-align: center

.resize
     outline: 1px solid #000
     background-color: $background
     vertical-align: top
     display: inline-block
     position: relative
     width: 50%
     user-select: none
     height: 100%
     .resizer
          width: 10px
          position: absolute
          right: -5px
          cursor: ew-resize
          height: 100%
          top: 0
