@import "../../styles/Variables"

.formatted-input
     display: block
     width: 100%
     flex: 1
     font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
     overflow-y: auto
     max-height: 100%
     >div
          border: 1px solid #b7b7b7
          width: 100%
          background-color: #fff
          .ans-cont
               min-height: calc(1.4em + 4px)
               padding: .2em
               .ans
                    display: inline-block
                    background-color: $regular
                    vertical-align: middle
                    padding: .2em
                    font-size: 1em
                    line-height: 1em
                    border: 2px solid #7e7e7e
                    border-radius: .5em
                    &.error
                         background-color: $error
     &::-webkit-scrollbar
          // position: fixed
          // right: 0
          width: .75em
     &::-webkit-scrollbar-thumb
          background-color: lighten($background, 10%)
     &::-webkit-scrollbar-track-piece
          background-color: darken($background, 10%)
